.slider-container {
    position: relative;
    width: 100%;
    padding-bottom: 37.50%;
    margin-bottom: 80px;
}

.hero-overlay {
    background: #00000066;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.slide {
    position: absolute;
    width: 100%;
    opacity: 0;
    height: auto;
    transition: opacity 0.4s ease-in-out;
    z-index: -1;
    padding-bottom: 37.50%;
}

.slide.current {
    opacity: 1;
}

.slide.current .content {
    opacity: 1;
    transition: all 0.7s ease-in-out 0.3s;
}

.slider-container .buttons button#next {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    z-index: 4;
}

.slider-container .buttons button#prev {
    position: absolute;
    top: 50%;
    left: 15px;
    z-index: 4;
    transform: translateY(-50%);
}

.slider-container .buttons button {
    border: 2px solid #fff;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    padding: 13px 15px;
    border-radius: 50%;
    outline: none;
}

.slider-container i {
    color: white;
}

.slider-container i:hover {
    color: #333;
}

.slider-container .buttons button:hover {
    background-color: #fff;
    color: #333;
}

@media (max-width: 600px) {
    .slider-container .buttons button#next {
        position: absolute;
        top: 20%;
        right: 15px;
        transform: translateY(-20%);
        z-index: 4;
    }
    .slider-container .buttons button#prev {
        position: absolute;
        top: 20%;
        left: 15px;
        z-index: 4;
        transform: translateY(-20%);
    }
    .slider {
        width: 100vw;
    }
    .slide {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        opacity: 0;
        transition: opacity 0.4s ease-in-out;
    }
}